
<div class="row bk-light dark title">
  <h1> Search Results </h1>
</div>
<div class="row">
  <div class="list-group">
    {{#each tracks.items}}
    <!-- New List item here -->
    <a href="{{external_urls.spotify}}" target="_blank" class="list-group-item clearfix">
      <span class="col-md-4"><span class="glyphicon glyphicon-music"></span> {{name}}</span>
      <span class = "col-md-3">{{album.name}}</span>
      <span class = "col-md-3">{{artists.0.name}}</span>
      <span class="pull-right">
        <button id="add{{@index}}" class="btn btn-xs btn-primary">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button id="delete{{@index}}" class="btn btn-xs btn-warning">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button class="btn btn-xs btn-primary" onclick="audio{{@index}}.play()">
          <audio id="audio{{@index}}" src="{{preview_url}}"></audio>
          <span class="glyphicon glyphicon-volume-up"></span>
        </button>
      </span>
    </a>
    {{/each}}
  </div>
</div>
